{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "syntax-dynamic-import"
        ],
        [
            "import",
            {
                "style": "css",
                "libraryName": "antd"
            }
        ]
    ]
}